# Virtual environment
venv/
mlopsenv/

# MLflow
mlruns/
mlflow.db

# Python cache
__pycache__/
*.pkl
*.pyc
*.pyo

# Data — raw and processed data shouldn't go to GitHub
data/raw/
data/processed/

# IDE
.vscode/
.idea/

# OS
.DS_Store